[submodule "exceedvote2015-desktop"]
	path = exceedvote2015-desktop
	url = https://github.com/thanachote-Frank/exceedvote2015-desktop.git
[submodule "exceedvote2015-moblie"]
	path = exceedvote2015-moblie
	url = https://github.com/thanachote-Frank/exceedvote2015-moblie.git
